<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="restapi/box_main :: fragment_head"/>
<body>
<!--  -->
<nav th:replace="restapi/box_admin :: fragment_top_panel_admin"/>
<div class="container-fluid">
    <div class="row">
        <div th:replace="restapi/box_admin :: fragment_left_panel_admin"/>

        <!--vvv тело вкладки боковой панели vvv-->
        <div class="col-9">
            <div class="tab-content bg-light pt-3"
                 id="admin-tabContent">

                <!--vvv Лист юзеров vvv-->
                <div class="tab-pane fade show active"
                     id="admin-tab"
                     role="tabpanel"
                     aria-labelledby="side-admin-tab">

                    <ul class="nav nav-tabs"
                        role="tablist">
                        <li class="nav-item"
                            role="presentation">
                            <button class="nav-link active"
                                    id="admins-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#all-users"
                                    type="button"
                                    role="tab"
                                    aria-controls="all-users"
                                    aria-selected="true"
                            >Список пользователей
                            </button>
                        </li>
                        <li class="nav-item"
                            role="presentation">
                            <button class="nav-link"
                                    id="new-user-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#new-user"
                                    type="button"
                                    role="tab" aria-controls="profile"
                                    aria-selected="false"
                            >Добавить пользователя
                            </button>
                        </li>
                    </ul>
                    <!--^^^ Вкладки под лист юзеров и создание нового юзера ^^^-->

                    <div class="tab-content">
                        <!--vvv Вкладка списка пользователей vvv-->
                        <div class="tab-pane fade show active"
                             id="all-users"
                             role="tabpanel"
                             aria-labelledby="admins-tab">
                            <div class="card">
                                <table class="table table-striped table-hover caption-top">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Имя пользователя</th>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Возраст</th>
                                        <th>Email</th>
                                        <th>Роль</th>
                                        <th>Редактировать</th>
                                        <th>Удалить</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${allUsers}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.firstname}"></td>
                                        <td th:text="${user.lastname}"></td>
                                        <td th:text="${user.age}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>
                                            <th:block th:each="role: ${user.roles}">
                                                <span type="checkbox"
                                                      th:text="${' '+role.name.substring(5)+' '}"></span>
                                            </th:block>
                                        </td>
                                        <td><!-- колонка с кнопкой редактировать -->

                                            <button class="btn btn-info btn-ml"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="${'#edit'+ user.id}"
                                                    th:data-row="${user}"
                                            >Редактировать
                                            </button>

                                            <!--vvv модалка редактирования vvv-->
                                            <div class="modal fade"
                                                 th:id="${'edit'+ user.id}"
                                                 tabindex="-1"
                                                 aria-labelledby="update"
                                                 aria-hidden="true">

                                                <div class="modal-dialog">
                                                    <div class="modal-content text-center fw-bold">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5"
                                                                id="update"
                                                            >Редактирование пользователя</h1>
                                                            <button type="button"
                                                                    class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <form class="offset-1 col-10"
                                                              th:method="POST"
                                                              th:action="@{/update}"
                                                              th:object="${newUser}"
                                                        >

                                                            <div class="modal-body">

                                                                <div class="mb-3">
                                                                    <label for="id_upd"
                                                                           class="col-form-label"
                                                                    >id</label>
                                                                    <input type="number"
                                                                           th:value="${user.id}"
                                                                           name="id"
                                                                           class="form-control"
                                                                           id="id_upd"
                                                                           readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="username_upd"
                                                                           class="col-form-label"
                                                                    >Имя пользователя</label>
                                                                    <input type="text"
                                                                           th:value="${user.username}"
                                                                           name="username"
                                                                           class="form-control"
                                                                           id="username_upd"
                                                                           minlength="3"
                                                                           maxlength="32"
                                                                           required/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="firstname_upd"
                                                                           class="col-form-label"
                                                                    >Имя</label>
                                                                    <input type="text"
                                                                           th:value="${user.firstname}"
                                                                           name="firstname"
                                                                           class="form-control"
                                                                           id="firstname_upd"
                                                                           minlength="0"
                                                                           maxlength="32"
                                                                    />
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="lastname_upd"
                                                                           class="col-form-label"
                                                                    >Фамилия</label>
                                                                    <input type="text"
                                                                           th:value="${user.lastname}"
                                                                           name="lastname"
                                                                           class="form-control"
                                                                           id="lastname_upd"
                                                                           minlength="0"
                                                                           maxlength="32"
                                                                    />
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="age_upd"
                                                                           class="col-form-label"
                                                                    >Возраст</label>
                                                                    <input type="number"
                                                                           th:value="${user.age}"
                                                                           name="age"
                                                                           class="form-control"
                                                                           id="age_upd"
                                                                           min="0"
                                                                           max="100"
                                                                    />
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="email_upd"
                                                                           class="col-form-label"
                                                                    >email</label>
                                                                    <input type="text"
                                                                           th:value="${user.email}"
                                                                           name="email"
                                                                           class="form-control"
                                                                           id="email_upd"
                                                                           minlength="0"
                                                                           maxlength="32"
                                                                    />
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="password_upd"
                                                                           class="col-form-label"
                                                                    >Пароль</label>
                                                                    <input type="password"
                                                                           th:value="${user.password}"
                                                                           name="password"
                                                                           class="form-control"
                                                                           id="password_upd"
                                                                           minlength="4"
                                                                           maxlength="64"
                                                                           required
                                                                    />
                                                                </div>

                                                                <label class="font-weight-bold"
                                                                >Роль:</label>
                                                                <th:block th:each="role: ${allRoles}">
                                                                    <input class="form-check-input"
                                                                           type="checkbox"
                                                                           th:field="*{roles}"
                                                                           th:text="${' '+role.name.substring(5)+' '}"
                                                                           th:value="${role.id}"/>
                                                                </th:block>

                                                            </div><!--  -->
                                                            <div class="modal-footer justify-content-evenly">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                >Закрыть
                                                                </button>
                                                                <input type="submit"
                                                                       class="btn btn-success"
                                                                       value="Обновить"/>
                                                            </div>
                                                        </form><!-- POST /update -->
                                                    </div><!-- modal-content -->
                                                </div><!-- modal-dialog -->
                                            </div><!-- modal fade -->
                                            <!--^^^ модалка редактирования ^^^-->
                                        </td><!-- колонка с кнопкой редактировать -->

                                        <td><!-- колонка с кнопкой удалить -->
                                            <button class="btn btn-danger btn-ml"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="${'#delete'+ user.id}"
                                                    th:data-row="${user}"
                                            >Удалить
                                            </button>

                                            <!--vvv модалка удаления vvv-->
                                            <div class="modal fade"
                                                 th:id="${'delete'+ user.id}"
                                                 tabindex="-1"
                                                 aria-labelledby="delete"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content text-center fw-bold">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-4"
                                                                id="delete"
                                                            >Удаление пользователя</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Закрыть">

                                                            </button>
                                                        </div>
                                                        <form class="offset-1 col-10"
                                                              th:method="POST"
                                                              th:action="@{/delete}"
                                                              th:object="${user.id}">
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="id_del"
                                                                           class="col-form-label"
                                                                    >id</label>
                                                                    <input type="number"
                                                                           th:value="${user.id}"
                                                                           name="id"
                                                                           class="form-control"
                                                                           id="id_del"
                                                                           readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="username_del"
                                                                           class="col-form-label"
                                                                    >Имя пользователя</label>
                                                                    <input type="text"
                                                                           th:value="${user.username}"
                                                                           name="username"
                                                                           class="form-control"
                                                                           id="username_del"
                                                                           disabled readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="firstname_del"
                                                                           class="col-form-label"
                                                                    >Имя</label>
                                                                    <input type="text"
                                                                           th:value="${user.firstname}"
                                                                           name="firstname"
                                                                           class="form-control"
                                                                           id="firstname_del"
                                                                           disabled readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="lastname_del"
                                                                           class="col-form-label"
                                                                    >Фамилия</label>
                                                                    <input type="text"
                                                                           th:value="${user.lastname}"
                                                                           name="lastname"
                                                                           class="form-control"
                                                                           id="lastname_del"
                                                                           disabled readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="age_del"
                                                                           class="col-form-label"
                                                                    >age</label>
                                                                    <input type="number"
                                                                           th:value="${user.age}"
                                                                           name="age"
                                                                           class="form-control"
                                                                           id="age_del"
                                                                           disabled readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="email_del"
                                                                           class="col-form-label"
                                                                    >email</label>
                                                                    <input type="text"
                                                                           th:value="${user.email}"
                                                                           name="email"
                                                                           class="form-control"
                                                                           id="email_del"
                                                                           disabled readonly/>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="roles_del"
                                                                           class="col-form-label"
                                                                    >Роль</label>
                                                                    <h6 class="form-heading text-center" id="allRoles">
                                                                        <th:block th:each="role: ${user.roles}">
                                                                        <span type="checkbox"
                                                                              id="roles_del"
                                                                              th:text="${' '+role.name.substring(5)+' '}">

                                                                        </span>
                                                                        </th:block>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer justify-content-evenly">
                                                                <button type="button"
                                                                        class="btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                >Отмена
                                                                </button>
                                                                <input type="submit"
                                                                       class="btn btn-danger"
                                                                       value="Удалить"/>
                                                            </div>
                                                        </form><!-- POST /delete -->
                                                    </div><!-- modal-content -->
                                                </div><!-- modal-dialog -->
                                            </div><!-- modal fade -->

                                            <!--^^^ модалка удаления ^^^-->

                                        </td><!-- колонка с кнопкой удалить -->
                                    </tr><!-- итератор таблицы -->
                                    </tbody>
                                </table><!-- table table-striped table-hover caption-top -->
                            </div><!-- card -->
                        </div><!-- tab-pane fade show active -->
                        <!--  -->
                        <div class="tab-pane fade"
                             id="new-user">
                            <div class="card">
                                <h5 class="card-header"
                                >Добавить нового пользователя</h5>
                                <div class="card-body text-center fw-bold">
                                    <form class="offset-4 col-4"
                                          th:method="POST"
                                          th:action="@{/new}"
                                          th:object="${newUser}">

                                        <label class="font-weight-bold"
                                               for="username_new"
                                        >Имя пользователя</label><br>
                                        <input class="form-control"
                                               type="text"
                                               name="username"
                                               id="username_new"
                                               placeholder="Логин"
                                               minlength="3"
                                               maxlength="32"
                                               required
                                        /><br>

                                        <label class="font-weight-bold"
                                               for="firstname_new"
                                        >Имя</label><br>
                                        <input class="form-control"
                                               type="text"
                                               name="firstname"
                                               id="firstname_new"
                                               placeholder="Имя"
                                               minlength="0"
                                               maxlength="32"
                                        />

                                        <br>

                                        <label class="font-weight-bold"
                                               for="lastname_new"
                                        >Фамилия</label><br>
                                        <input class="form-control"
                                               type="text"
                                               name="lastname"
                                               id="lastname_new"
                                               placeholder="Фамилия"
                                               minlength="0"
                                               maxlength="32"
                                        /><br>

                                        <label class="font-weight-bold"
                                               for="age_new"
                                        >age</label><br>
                                        <input class="form-control"
                                               type="number"
                                               name="age"
                                               id="age_new"
                                               placeholder="Возраст"
                                               min="0" max="100"
                                        /><br>

                                        <label class="font-weight-bold"
                                               for="email_new"
                                        >email</label><br>
                                        <input class="form-control" type="text"
                                               name="email"
                                               id="email_new"
                                               placeholder="email"
                                               minlength="0"
                                               maxlength="32"
                                        /><br>

                                        <label class="font-weight-bold"
                                               for="password_new"
                                        >Пароль</label><br>
                                        <input class="form-control"
                                               type="password"
                                               name="password"
                                               id="password_new"
                                               placeholder="Пароль"
                                               minlength="4"
                                               maxlength="64"
                                               required
                                        /><br>

                                        <label class="font-weight-bold"
                                        >Роль:</label>
                                        <th:block th:each="role: ${allRoles}">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   th:field="*{roles}"
                                                   th:text="${' '+role.name.substring(5)+' '}"
                                                   th:value="${role.id}"/>
                                        </th:block>

                                        <br/><br/>
                                        <div class="modal-footer justify-content-evenly">
                                            <button type="submit"
                                                    class="btn btn-success"
                                            >Добавить
                                            </button>
                                        </div>
                                    </form><!-- POST /update -->
                                </div><!-- card-body text-center -->
                            </div><!-- card -->
                        </div><!-- tab-pane fade -->
                    </div><!-- tab-content -->
                    <!--^^^ Вкладка списка пользователей ^^^-->
                </div><!-- tab-pane fade show active -->

                <!--vvv информация о текущем пользователе vvv-->
                <div th:replace="restapi/box_user :: fragment_user_info (isActive=false)"/>
                <!--^^^ информация о текущем пользователе ^^^-->

            </div><!-- tab-content bg-light pt-3 -->
        </div><!-- col -->
        <!--^^^ тело вкладки боковой панели ^^^-->
    </div><!--  row   -->
</div><!--   container-fluid     -->
<div th:replace="restapi/box_main :: fragment_scripts"/>
</body>
</html>