<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="htmlBox/box_main :: fragment_head"/>
<body>
<br/><br/>
<div class="container">
    <form class="form-signin" th:method="POST" th:action="@{/process_login}">
        <div class="form-group">
            <div class="d-grid gap-2 col-3 mx-auto">
                <h2 class="form-heading text-center">Форма авторизации</h2><br/>
                <input name="username"
                       type="text"
                       class="form-control"
                       placeholder="Имя пользователя"
                       autofocus="true"/><br/>
                <input name="password"
                       type="password"
                       class="form-control"
                       placeholder="Пароль"/>

                </br>
                <button class="btn btn-ml btn-primary btn-block"
                        type="submit"
                >Вход
                </button>
                <br/>

                <div class="alert alert-info text-center" role="alert">
                    <p><b>Логин&nbsp&nbsp&nbsp= пароль</b><br/>
                        admin=admin<br/>
                        user=user
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>